{% extends "base.html" %}


{% block content %}

<h2>Create Post</h2>

<div class="container py-3">
    <form  enctype="multipart/form-data" method="post" action="{% url 'post_create' %}">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
        <div class="form-group">
            <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
            {{ field }}
        </div>
        {% endfor %}

        <button class="bg-primary text-white px-4" type="submit">Submit</button>
    </form >
</div>
{% endblock %}
